{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/neptype.css' %}">
<script src="{% static 'js/neptype.js' %}"></script>
</head>
<body>
   <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="nav-header">
                <a class="navbar-brand" href="#"><strong>GATI</strong></a>
            </div>
            <ul class="nav navbar-nav navbar-center">
                <li><a href="/neptype/">Home</a></li>
                <li><a href="/neptype/race/">Race</a><li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li style="color:#ffffff"><a> {{ request.user.get_username }}</a></li>
                <li><a href="/neptype/logout/">Logout</a></li>
                {% else %}
                <li id="signin"><a href="/neptype/signin/">Login</a></li>
                <li id="signup"><a href="/neptype/signup/">Signup</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

{% block content %} {% endblock %}
<nav class="navbar navbar-default navbar-bottom">
    <div class="container-fluid">
    <div class="row" align="center">
        <div class="col-sm-2">
            <p class="foot">Help</p>
        </div>
        <div class="col-sm-2">
            <p class="foot">Copyright</p>
        </div>
        <div class="col-sm-2">
            <p class="foot">Privacy</p>
        </div>
        <div class="col-sm-2">
            <p class="foot">Terms</p>
        </div>
        <div class="col-sm-2">
            <p class="foot">Feedback</p>
        </div>
        <div class="col-sm-2">
            <p class="foot"><a href="http://www.pramodmjn.com.np">www.pramodmjn.com.np</a></p>
        </div>
    </div>
</div>
</nav>
</body>
</html>

